.question {
    border-bottom: 1px solid #DBDEF0;
}
.question--answers {
    display: flex;
    flex-wrap: wrap;
}

.question--answer {
    margin: 1em;
}

.question--answer > input[type="radio"] {
    margin-right: 10px;
}